@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

#home {
  background: linear-gradient(to bottom, #BA0000, #5D0303) !important;
}

#promo {
  background: linear-gradient(to bottom, #5D0303, #f40e12, #BA0000) !important;
}

#home-menu {
  background: linear-gradient(to bottom, #BA0000 0%, #FFB33F 180px, #FFB33F 100%) !important;
  margin-top: -1px;
  position: relative;
  z-index: 10;
}

#order-cta {
  background: linear-gradient(to bottom, #FFB33F 0%, #BA0000 100px, #5D0303 100%) !important;
  margin-top: -1px;
  position: relative;
  z-index: 10;
}